<!-- Formulario -->

<section>
  <div class="container user__profile mx-auto">
    <h2 class="form__h2">Mi Perfil</h2>
    <form class="form__user" action="">
      <fieldset>
        <legend class="form__legend">Datos personales:</legend>
        <br />
        <br />
        <label class="form__label" for="usuario"
          >Usuario:
          <input
            class="form__input"
            type="text"
            name="usuario"
            id="usuario"
            required
            maxlength="20"
            size="20"
          />
        </label>
        <br />
        <br />
        <label class="form__label" for="nacionalidad"
          >Nacionalidad:
          <input
            class="form__input"
            type="text"
            name="nacionalidad"
            id="nacionalidad"
            required
          />
        </label>
        <br />
        <br />
        <button
          type="reset"
          class="btn btn-primary btn-sm"
          style="padding-left: 1.5rem; padding-right: 1.5rem; margin: 0.5rem"
        >
          Restablecer
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          style="padding-left: 1.5rem; padding-right: 1.5rem; margin: 0.5rem"
        >
          Guardar cambios
        </button>
        <br />
      </fieldset>
    </form>
    <form class="form__user" action="">
      <fieldset>
        <div id="chng__pass"></div>
        <div id="btn__chng--pass">
          <button
            id="btn__chng"
            type="button"
            class="btn btn-primary btn-md"
            style="padding-left: 1.5rem; padding-right: 1.5rem; margin: 0.5rem"
            onclick="chng__pass()"
          >
            Cambiar contraseña
          </button>
        </div>
        <br />
      </fieldset>
    </form>
  </div>
</section>
