body {
    padding: 0;
    margin: 0;
    --color1: #D3DDFE;
    --color2: #144BF0;
    --color3: #d1d1d1;

}

.header {
    width: 100vw;
    height: 85px;
    background-color: var(--color2);
}

.container {
    margin: 100px auto;

}

.container-cartera {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    height: max-content;
}

.container-cartera>div {
    height: auto;
    border-radius: 15px;
    padding: 35px;
}

.cartera {
    min-width: 70%;
    flex-grow: 1;
    height: 100%;
    background-color: var(--color1);
}

.cartera-tabla {
    background-color: #ffffffbd;
}

.cartera-resumen {
    flex-grow: 1;
    height: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resumen-grafico {
    max-width: 200px;
}


@media screen and (max-width: 1400px) {
    .cartera-resumen {
        flex-direction: row
    }

}

@media screen and (min-width: 1400px) {
    .cartera-resumen {
        align-items: center;
    }

}