/* .header {
    height: 85px;
    background-color: var(--primary);
} */

/* .container {
    margin-top: 100px;

} */

/*----------PORTFOLIO----------*/

.container-operaciones {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    height: max-content;
}

.container-operaciones>div {
    height: auto;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 1px 1px 5px var(--font-color);
    background-color: var(--primary-soft);
}

.operaciones {
    min-width: 70%;
    flex-grow: 1;
    height: 100%;
    background-color: var(--main);
    white-space: nowrap;
}

.table-head {
    background-color: var(--primary);

}

.titulo-operaciones{
  text-align: center;
  margin-bottom: 25px;
}

footer{
  position: absolute;
  bottom: 0;
}

/*----------Queries----------*/


@media screen and (width < 768px) {
    * {
        font-size: 12px;
    }

    footer{
  position: absolute;
  bottom: 0;
}
}