h1,
h2,
h4 {
    text-align: center;
}

h4 {
    font-size: larger;
}

.terminos p {
    text-align: justify;
    font-size: larger;
    text-indent: 15px;
}


/* .terminos * {
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
    } */

.container-terminos {
    padding: 120px 1em;
}

.terminos {
    padding: 2em;
    border: 2px solid black;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 16px;
    }
}