:root {
    --bg-color: #F3EEF4;
    --primary: #984eF3;
    --primary-soft: #eee6f8;
    --secondary: #4fc4cf;
    --tertiary: #fbdd74;
    --font-color: #181818;
}


body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--bg-color);
}

.account-bg {
    background-color: var(--primary);
    background-image: linear-gradient(150deg,
            var(--secondary) 0%,
            var(--primary) 100%);
}


a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--tertiary);
}

* {
    color: var(--font-color);
}

button {
    border-color: var(--secondary) !important;
    background-color: var(--secondary) !important;
    color: var(--font-color) !important;
}

button:hover {

    border-color: var(--tertiary) !important;
    background-color: var(--tertiary) !important;

}