<header>
    <div class="container">
        <a href="home.html">
            <div class="titulo">
                <div>
                    <img class="img" [src]="'assets/logo.jpg'">
                </div>
                <p class="logo">Controlling</p>
            </div>
        </a>

        <nav>
            <a href="./quienes_somos.html">Sobre Nosotros</a>
            <a href="./cartera.html">Cartera</a>
            <a href="terminosycondiciones.html">Términos y Condiciones</a>
            <a href="./login.html">Iniciar Sesion</a>
            <a href="registro.html">Registrarse</a>
        </nav>
    </div>
</header>