<header>
    <div class="container">
        <a href="home.html">
            <div class="titulo">
                <div>
                    <img class="img" [src]="'assets/logo.jpg'">
                </div>
                <p class="logo">Controlling</p>
            </div>
        </a>

        <nav>
            <a routerLink="sobre_nosotros" routerLinkActive="">Sobre Nosotros</a>
            <a routerLink="cartera" routerLinkActive="active" >Cartera</a>
            <a routerLink="terminos_y_condiciones" routerLinkActive="">Términos y Condiciones</a>
            <a routerLink="iniciar_sesion" routerLinkActive="">Iniciar Sesion</a>
            <a routerLink="registro" routerLinkActive="active">Registrarse</a>
        </nav>
    </div>
</header>